h1 {
    font-size: 2em;
}

.color {
    float: left;
    margin: 0 5px;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    border: none;
}

.color > input {
    margin-top: 15px;
    margin-left: 15px;
}

.position-radio {
    position: absolute;
}

.left {
    margin-left: -25px;
}

.right {
    margin-left: 25px;
}

.top {
    margin-top: -5px;
}

.bottom {
    margin-top: 40px;
}

.button-actions {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  float: left;
}

.reset {
  float: right;
}

.favicon-example {
  width: 100%;
}

#mainPopup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 400px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

#faviform {
  display: flex;
  flex-direction: column;
}

#options {
  display: flex;
  flex-direction: row;
}

#colors {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#colors-1 {
  padding-bottom: 5px;
}

#colors-2 {
  padding-top: 5px;
}

#positions {
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#red {
    background-color: #FB635E;
}

#green {
    background-color: #86E26D;
}

#blue {
    background-color: #53BDF6;
}

#yellow {
    background-color: #FDD74F;
}

#orange {
    background-color: #FCAB47;
}

#purple {
    background-color: #D58FE3;
}

#gray {
    background-color: #A5A5A7;
}
