body {
  margin: 0;
  background-color: #F2F3EF;
  border-radius: 5px;
}

h1 {
  font-size: 2em;
  margin-top: 15px;
  font-variant: small-caps;
  color: #FCAB47;
}

p {
  margin-top: 0;
  font-variant: small-caps;
  font-weight: 800;
  font-size: 1.2em;
}

button {
  outline: none;
  cursor: pointer;
}

.position-radio:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #d1d3d1;
}

.position-radio:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: black;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #d1d3d1;
}

.color-radio:after {
  width: 28px;
  height: 28px;
  border-radius: 15px;
  top: -10px;
  left: -10px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
  border: none;
}

.color-radio:checked:after {
  width: 28px;
  height: 28px;
  border-radius: 15px;
  top: -10px;
  left: -10px;
  position: relative;
  background-color: black;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

#red:after {
  background-color: #FB635E;
}

#red:checked:after {
  background-color: #FB635E;
}

#green:after {
  background-color: #86E26D;
}

#green:checked:after {
  background-color: #86E26D;
}

#blue:after {
  background-color: #53BDF6;
}

#blue:checked:after {
  background-color: #53BDF6;
}

#yellow:after {
  background-color: #FDD74F;
}

#yellow:checked:after {
  background-color: #FDD74F;
}

#orange:after {
  background-color: #FCAB47;
}

#orange:checked:after {
  background-color: #FCAB47;
}

#purple:after {
  background-color: #D58FE3;
}

#purple:checked:after {
  background-color: #D58FE3;
}

.color-radio {
  margin: 0 10px;
  margin-left: 15px;
}

.position-radio {
  position: absolute;
}

.left {
  margin-left: -30px;
}

.right {
  margin-left: 30px;
}

.top {
  margin-top: -50px;
}

.bottom {
  margin-top: 10px;
}

.button-actions {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.submit {
  display: flex;
  width: 100%;
  float: left;
}

.reset {
  display: flex;
  width: 100%;
  float: right;
}

.favicon-example {
  width: 65px;
}

.color-btn {
  border: none;
  background-color: #F2F3EF;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-variant: small-caps;
  font-size: 1.3em;
}

#mainPopup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

#separator {
  display: flex;
  flex-direction: column;
}

#faviform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#options {
  display: flex;
  background-color: white;
  flex-direction: row;
  padding: 30px;
  padding-bottom: 25px;
  border-radius: 5px;
}

#colors {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#color-header {
  margin-top: 20px;
  margin-bottom: 0;
}

#position-header {
  margin-top: 20px;
  margin-bottom: 0;
}

#colors-1 {
  padding-bottom: 5px;
}

#colors-2 {
  padding-top: 5px;
  margin-top: 25px;
}

#positions {
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submit-btn {
  width: 100%;
  background: #F49143;
  font-size: 1.3em;
  border-radius: 5px;
}

#reset {
  width: 100%;
  font-size: 1.3em;
  text-align: left;
}

#red:after {
  background-color: #FB635E;
}

#red:checked:after {
  background-color: #FB635E;
}

#green:after {
  background-color: #86E26D;
}

#green:checked:after {
  background-color: #86E26D;
}

#blue:after {
  background-color: #53BDF6;
}

#blue:checked:after {
  background-color: #53BDF6;
}

#yellow:after {
  background-color: #FDD74F;
}

#yellow:checked:after {
  background-color: #FDD74F;
}

#orange:after {
  background-color: #FCAB47;
}

#orange:checked:after {
  background-color: #FCAB47;
}

#purple:after {
  background-color: #D58FE3;
}

#purple:checked:after {
  background-color: #D58FE3;
}
